@import '~bootstrap/scss/bootstrap';

// Colours

$dc_white :#FFFFFF;
$dc_dark: #1C1C1C;
$dc_dark_light:#464646;
$dc_main_blue:#0282F9;
$dc_footer_blue:#116BD0;
$dc_footer_text: #7A7A7A;
$dc_bg_btn_footer:#303030;




    /* logo */
    img {
        width:75%;
      }
      .custom-margin {
          margin-right: 400px;
        }
      
        /* fine logo */
      
        /* header */

        .little-top-header{
            background-color: $dc_main_blue;
            height:30px;
        }

        .wrapper{
        width:100%;
        height:100%;
        
      }
      
      #site_header {
        background-color: $dc_white;
        
      
        a.nav-item {
          text-transform: uppercase;
          font-size: 14px;
          padding: 3rem .5rem;
          color: $dc_dark_light;
      
          &.active {
            color: $dc_main_blue;
            border-bottom: 4px solid $dc_main_blue;
          }
        }
        .searchbar {
            input {
                border: 0;
                border-bottom: 2px solid $dc_main_blue;
            }
        
            input::-webkit-input-placeholder {
                text-align: end;
                color: $dc_dark;
            }
        
        }
      
      }
      /* fine header */

    //   jumbotron
    .jumbo-img{
        background-image: url('../../resources/images/jumbotron.jpg');
        height: 500px;
    }
      
      
      /* main */
   
      .custom-btn {

        margin-bottom: 3rem;
        background: $dc_main_blue;
        padding: 0.5rem 1rem;

        h6 {
            color: $dc_main_blue;
            text-transform: uppercase;
            margin: 0;
            font-weight: 700;
        }

    }



      
.icons-dc {

    background: $dc_main_blue;
    position: relative;
    z-index: 1;

    .text-icons {
        max-width: 1140px;
        margin: 0 auto;
        padding: 2rem 0;
        text-align: center;
    }

    .icon_text {

        img {


            max-width: 3rem;
            max-height: 3rem;
            margin-right: 0.3rem;
        }

        p {
            color: $dc_white;
            font-size: 0.8rem;
            margin: 0;
        }
    }

}

.fixed-height {
    height: 200px; 
  }
  
  .comic-title {
    text-align: center; 
  }
   
    
      /* fine main */
      
      /* footer */
      
      #site_footer {
      
      background-image: url('../../resources/images/footer-bg.jpg');
      width: 100%;
      overflow: hidden;
      
      .custom-width {
          width: 10%;
      }
      
      h5 {
          color: white;
      }
      
      a {
          color: $dc_footer_text;
      }
      
      .custom-width-logo-footer {
          width: 20%;
          margin: -50px 0;
          margin-left: 160px;
      }
      
      .custom-margin {
          margin-right: 60px;
      }
      
      .footer-bottom {
          background-color: $dc_dark_light;
      }
      
      .social-color {
          color: $dc_dark_light;
      }
      
      .btn-signup {
          background-color: $dc_bg_btn_footer;
          border: 2px solid $dc_footer_blue;
          padding: 10px 20px;
          margin-left: 25px;
      }
      
      .color-followme {
          color: #0382F3;
          font-size: larger;
      
      }
      
      }
      
      /* fine footer */